﻿
@{
    /**/

    ViewBag.Title = "Message";
}

<h2>Message</h2>
@if (ViewBag.message != null)
{
    <h3>@ViewBag.message</h3>
}
else
{
    @*<form action="/Home/Message" method="get">*@
    <form action="/Home/Message2" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="user_name">
        </div>

        <div>
            <label for="mail">E-mail:</label>
            <input type="email" id="mail" name="user_email">
        </div>

        <div>
            <label for="msg">Message:</label>
            <textarea id="msg" name="user_message"></textarea>
        </div>

        <div class="button">
            <button type="submit">Send your message</button>
        </div>
    </form>
}

