﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        <li>User Name: @ViewData["userName"]</li>
        <li>Server Name: @ViewData["serverName"]</li>
        <li>Client IP: @ViewData["clientIP"]</li>
        <li># of Cookies: @ViewData["cookieCount"]</li>
    </ul>
</body>
</html>
